@media print {

    @page {
        margin: 0.5cm;
    }
}





#header-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    page-break-after: always;
}


.contents-section {
    height: 100vh;
    padding-top: 100px;
    page-break-after: always;
}

.index-div {
    padding-top: 10px;
}

#sub-title-container {
    padding-top: 100px;
    height: 100vh;
    page-break-after: always
}

.index-contents {
    padding-top: 100px;
    page-break-after: always;
}

#index-section {
    padding-top: 100px;
}



td {
    font-size: 10pt;
    padding-top: 0;
    padding-bottom: 0;
}

span {
    font-size: 12pt;
}

article {
    padding-top: 100px;
    page-break-after: always;
}

article img {
    height: 150px;
}

.article-heading {
    margin-bottom: 50px;
}

.contents {
    margin: 5px;
}

.contents span{
    width: 200px;
    text-align: left;
}

main {
    padding-bottom: 100px;
}