
build
cfgv
click
defusedxml
distlib
docopt
et-xmlfile
filelock
fpdf2
identify
loguru
mypy-extensions
nodeenv
numpy
openpyxl
packaging
pandas
pathspec
pep517
Pillow
platformdirs
pre-commit
pyparsing
PyQt5
pyqt5-plugins
PyQt5-Qt5
PyQt5-sip
pyqt5-tools
python-dateutil
python-dotenv
pytz
PyYAML
qt5-applications
qt5-tools
six
toml
tomli
typing-extensions
virtualenv
xes
