altgraph==0.17.2
astor==0.8.1
attrs==22.1.0
autoflake==1.4
black==22.6.0
bleach==5.0.1
build==0.8.0
certifi==2022.6.15
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.1.0
click==8.1.3
commonmark==0.9.1
cryptography==38.0.1
defusedxml==0.7.1
distlib==0.3.5
docopt==0.6.2
docutils==0.19
et-xmlfile==1.1.0
filelock==3.8.0
flake8==5.0.4
flake8-blind-except==0.2.1
flake8-bugbear==22.7.1
flake8-builtins==1.5.3
flake8-comprehensions==3.10.0
flake8-debugger==4.1.2
flake8-docstrings==1.6.0
flake8-isort==4.2.0
flake8-quotes==3.3.1
flake8-string-format==0.3.0
fpdf2==2.5.5
ghp-import==2.1.0
griffe==0.22.0
identify==2.5.3
idna==3.3
importlib-metadata==4.12.0
iniconfig==1.1.1
isort==5.10.1
jaraco.classes==3.2.2
jeepney==0.8.0
Jinja2==3.1.2
keyring==23.9.1
loguru==0.6.0
Mako==1.2.3
Markdown==3.3.7
MarkupSafe==2.1.1
mccabe==0.7.0
mergedeep==1.3.4
mkdocs==1.3.1
mkdocs-autorefs==0.4.1
mkdocs-material==8.4.0
mkdocs-material-extensions==1.0.3
mkdocstrings==0.19.0
mkdocstrings-python==0.7.1
mkgendocs==0.9.2
more-itertools==8.14.0
mypy==0.971
mypy-extensions==0.4.3
nodeenv==1.7.0
numpy==1.23.2
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
pathspec==0.9.0
pdfrw==0.4
pep517==0.13.0
Pillow==9.2.0
pkg_resources==0.0.0
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.20.0
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.5.0
Pygments==2.13.0
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pymdown-extensions==9.5
PyMuPDF==1.20.2
pyparsing==3.0.9
PyPDF2==2.10.4
PyQt5==5.15.7
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
pytest==7.1.3
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
PyYAML==6.0
pyyaml_env_tag==0.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
-e git+https://github.com/Synonymsfornotverygood/report_generator.git@84f7368a09a60e85d2017b3e06d23a07079870fc#egg=qub_amphibian_report_generator
readme-renderer==37.1
-e git+https://github.com/Synonymsfornotverygood/report_generator.git@84f7368a09a60e85d2017b3e06d23a07079870fc#egg=report_generator
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==2.0.1
tox==3.25.1
tqdm==4.64.0
twine==4.0.1
typing_extensions==4.3.0
urllib3==1.26.11
virtualenv==20.16.3
watchdog==2.1.9
webencodings==0.5.1
xes==1.3
zipp==3.8.1
